.value{color:orange;}

#skill_damage{color:red;}
#skill_health{color:green;}
#skill_energy{color:darkorange;}
#skill_misc{color:blue;}


#class_fighter{color:limegreen;}
#class_damage{color:red;}
#class_ranged{color:darkcyan;}
#class_control{color:orange;}
#class_tank{color:blue;}
#class_support{color:pink;}

